<mat-card>
  <mat-toolbar>
    <div class="title">Créer un nouveae bordereau</div>
    <div class="actions">
      <button class="button">
        <mat-icon>arrow_back</mat-icon> Retour
      </button>
      <button class="button">
        <mat-icon>settings_outline</mat-icon> Réinitialiser
      </button>
      <button class="active button">
        Enregister
      </button>
    </div>
  </mat-toolbar>
  <mat-tab-group>
    <mat-tab label="Créer un nouveae bordereau">
      <app-slip-uploader></app-slip-uploader>
    </mat-tab>
  </mat-tab-group>
</mat-card>
