<mat-sidenav-container>
  <mat-sidenav mode="side" opened fixedInViewport>
    <mat-nav-list>
      <a mat-list-item href="#"><mat-icon>home_outline</mat-icon></a>
      <a mat-list-item href="#"><mat-icon>person_outline</mat-icon></a>
      <a mat-list-item href="#"><mat-icon>manage_accounts_outline</mat-icon></a>
      <a mat-list-item href="#"><mat-icon>account_circle_outline</mat-icon></a>
      <a mat-list-item href="#"><mat-icon>library_books_outline</mat-icon></a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>boo</mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
